[Unit]
Description=Retry Hiraia remote mirror every 30 seconds
[Timer]
OnBootSec=20s
OnUnitInactiveSec=30s
AccuracySec=5s
[Install]
WantedBy=timers.target
