@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=4UaHrEJCrhhnVA3DgluAx6j75vocQnE&skey=31c3ad25dd3d74b0&v=v18) format('woff2');
  unicode-range: U+61, U+68-69, U+72;
}
