@font-face {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=-nFnOHM81r4j6k0gjAW3mujVU2B2K_Jj07Gbhho&skey=b35e2c4c711f6b3&v=v17) format('woff2');
  unicode-range: U+61, U+68-69, U+72;
}
